body{
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
}

header{
    height: 150px;
}

nav{
    height: 90px;
}

#arama{
    width: 480px;
    height: 30px;
    margin-left: 430px;
    margin-top: 20px;
    border-radius: 20px;
}

#aramalogo{
    width: 20px;
    height: 20px;
    position: absolute;
    left: 445px;
    bottom: 445px;
}

#klavyelogo{
    width: 30px;
    height: 25px;
    position: absolute;
    left: 800px;
    bottom: 442px;
}

#mikrofon{
    width: 20px;
    height: 20px;
    position: absolute;
    right: 505px;
    bottom: 445px;
}

#kameraarama{
    width: 20px;
    height: 20px;
    position: absolute;
    right: 468px;
    bottom: 445px;

}

#butonkutu{
    height: 60px;
}

#buton1{
    border: 1px #f2f2f2;
    font-family: Arial, Helvetica, sans-serif;
    color: #5f6368;
    font-size: 14px;
    height: 36px;
    float: left;
    margin-left: 563px;
    margin-top: 5px;
    box-shadow: 3px 3px 3px;
}

#buton2{
    border: 1px #f2f2f2;
    font-family: Arial, Helvetica, sans-serif;
    color: #5f6368;
    font-size: 14px;
    height: 36px;
    margin-top: 5px;
    margin-left: 5px;
    box-shadow: 3px 3px 3px;
}

#boskisim{
    height: 274px;
}

#footer1{
    background-color: #f2f2f2;
    height: 69px;
    text-align: center;
}

#adver{
    font-size: 18px;
  position: absolute;
  bottom: 23px;
  left: 35px;
}

#bussnies{
    font-size: 18px;
    position: absolute;
    bottom: 23px;
    left: 155px;
}

#search{
    font-size: 18px;
    position: absolute;
    bottom: 23px;
    left: 260px;
}

#privacy{
    font-size: 18px;
    position: absolute;
    bottom: 23px;
    right: 240px;
}

#terms{
    font-size: 18px;
    position: absolute;
    bottom: 23px;
    right: 160px;
}

#settings{
    font-size: 18px;
    position: absolute;
    bottom: 23px;
    right: 70px;
}